NetTcpService/ConsoleClient/Service References/BroadcastService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.121:8002/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.121:8002/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetSessionId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionId" />
  </wsdl:message>
  <wsdl:message name="IService_GetSessionId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetInService_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInService" />
  </wsdl:message>
  <wsdl:message name="IService_Dispose_InputMessage">
    <wsdl:part name="parameters" element="tns:Dispose" />
  </wsdl:message>
  <wsdl:message name="IService_Broadcast_InputMessage">
    <wsdl:part name="parameters" element="tns:Broadcast" />
  </wsdl:message>
  <wsdl:message name="IService_GetCurrentClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentClients" />
  </wsdl:message>
  <wsdl:message name="IService_GetCurrentClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetSessionId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSessionId" message="tns:IService_GetSessionId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSessionIdResponse" message="tns:IService_GetSessionId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetInService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetInService" message="tns:IService_GetInService_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Dispose">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Dispose" message="tns:IService_Dispose_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Broadcast">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Broadcast" message="tns:IService_Broadcast_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetCurrentClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCurrentClients" message="tns:IService_GetCurrentClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCurrentClientsResponse" message="tns:IService_GetCurrentClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendMessage" message="tns:IService_SendMessage_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#NetTcpBinding_IService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetSessionId">
      <soap12:operation soapAction="http://tempuri.org/IService/GetSessionId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInService">
      <soap12:operation soapAction="http://tempuri.org/IService/GetInService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Dispose">
      <soap12:operation soapAction="http://tempuri.org/IService/Dispose" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Broadcast">
      <soap12:operation soapAction="http://tempuri.org/IService/Broadcast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentClients">
      <soap12:operation soapAction="http://tempuri.org/IService/GetCurrentClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/IService/SendMessage" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetTcpBinding_IService" binding="tns:NetTcpBinding_IService">
      <soap12:address location="net.tcp://laptop-c6v9qqvd:8003/Service.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://laptop-c6v9qqvd:8003/Service.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>